* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    font-family: serif;
    background-color: rgb(231, 231, 232);
}
  
a {
    color: black;
    text-decoration: none;
}
  
li {
    list-style-type: none;
    font-size: 20px;
}
  
.header-container {
    margin: 0 auto;
    position: fixed;
    max-width: 3000px;
    overflow: visible;
}
  
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar {
    background-color: rgb(255, 255, 255);
    height: 70px;
    padding: 0 30px;
    box-shadow: 0px 5px 5px rgb(203, 203, 203), 0px 5px 5px rgb(245, 245, 245);
}
  
.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
  
.navbar ul {
    display: flex;
}
  
.navbar a {
    padding: 9px;
    margin: 0 10px;
}
  
.navbar a:hover {
    color: rgb(156, 152, 152);
    border-bottom: 3px solid rgb(156, 152, 152);
    transition: all 0.3s ease 0s;
}
  
/* content */
  
article {
    max-width: 750px;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 9px 0px 0px #f0f1f5, 0 -9px 0px 0px #f0f1f5, 12px 0 15px -4px rgb(203, 203, 203), -12px 0 15px -4px rgb(203, 203, 203);
    font-size: 16px;
    line-height: 25px;
    padding: 5px;
}

p {
    text-align: justify;
}
  
#author {
    font-size: medium;
    text-align: center;
}

#line {
    box-shadow: 0px 1px #000000;
}

.cop {
    color: rgb(41, 115, 219);

}

.cop:hover {
    text-decoration: underline;
    color: rgb(41, 115, 219);

}

h1 {
    font-size: 2em; 
}

#info {
    text-align: center;
}

/* footer */

.footerbrand-container {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    margin: auto;
  }
  
  .footer-container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    width: 100%;
    left: 0px;
    font-size: medium;
    box-shadow: 0px -25px 20px -20px rgb(203, 203, 203);
  }
  
  .footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-nav ul li {
    margin: 0 15px;
    transition: all 0.3s ease 0s;
  }
  
  .links-style li a:hover {
    transition: all 0.3s ease 0s;
    color:  rgb(170, 174, 176);
  }
  
  .links-style li a {
    color: #000000;
    text-decoration: none;
    font-size: medium;
  }
  
  .footer-bottom {
    margin-top: 20px;
    color: #000000;
  }

  .copy {
    text-align: center;
  }
  
