
* {
    margin: 0;
    padding: 0;
}

.html {
    scroll-behavior: smooth;
}

header {
    background-color: white;
    height: 15px;
    position: fixed;
    width: 1250px;
    box-shadow: 0px 1px #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li, a {
    font-family: serif;
    font-weight: 500;
    font-size: 20px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.logo {
    cursor:pointer;
    order: 3;
    margin-left: auto;
}

.nav {
    order: 1;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color:  rgb(170, 174, 176);
}

.nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.content {
    max-width: 750px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-style: ridge;
    border-color: #000000;
    border-width: 1px;
    text-align: center;
    word-spacing: 5px;
    line-height: 25px;
    font-size: 1.2em;
}

.pharagraph {
    text-align: justify;
}

#author {
    font-size: medium;
}

#line {
    box-shadow: 0px 1px #000000;
}

.cop {
    color: rgb(41, 115, 219);

}

.cop:hover {
    text-decoration: underline;
    color: rgb(41, 115, 219);

}

h2[id], h3[id], h4[id], h5[id], h6[id] {
    margin-top: -85px; 
    padding-top: 85px; 
}

.footerbrand-container {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    margin-top: 60px;
    margin: 0px;
}

.footer-container {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-top: black;
    border-top-style: ridge;
    width: 100%;
    border-top-width: 1px;
    left: 0px;
    font-size: medium;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    margin: 0 15px;
    transition: all 0.3s ease 0s;
}

.links-style li a:hover {
    transition: all 0.3s ease 0s;
    color:  rgb(170, 174, 176);
}

.links-style li a {
    color: #000000;
    text-decoration: none;
    font-size: medium;
}

.footer-bottom {
    margin-top: 20px;
    color: #000000;
}


